<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{config.page_name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block content %}{% endblock content %}
    {% include 'footer.html' %}
  </body>
</html>
