{% extends 'base.html' %}
{% block content %}
  {% if config.page_name %}
    <h1 class="title">{{config.page_name}}</h1>
  {% endif %}
  
  {{post}}

  <h3>Latest Posts</h3>
  <ul id='post-list'>
    {% for post in posts %}
    <li clas='post-item'>
      <a href='{{post.slug}}/'>{{ post.title }}</a>
	  <span class='meta'>
	    <time datetime='post.created'>
	      {{ post.created_human }}
	    </time>
	  </span>  
    </li>
    {% endfor %}
  </ul>

  <a href="/history">See more...</a>
{% endblock content %}
