{% extends 'base.html' %}
{% block head %}
<meta property="og:title" content="{{config.page_name}}"/>
<meta property="og:description" content="{{title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{config.base_path}}/{{slug}}" />
{% endblock head%}
{% block content %}
<div class="post-page">  
  <h1>{{title}}</h1>
  <a id="back" href="/">HOME</a>
  <div class='meta'>
    <time datetime='created'>
      {{ created_human }}
    </time>
    - By {{config.author_name}}
  </div>
  <div class='markdown'>
    {{ post }}
  </div>
</div>
{% endblock content %}
